body{
    background-color: black;
}

.logo{
    width: fit-content;
    height: fit-content;
    margin: auto;
    /*transform: scale(0.15);*/
}

.foreground{
    width: 512px;
    height: 512px;
    background: url('images/frames.png');
    animation: frames 1.7s steps(17) infinite forwards;
    /* animation: rotate--axis--center 1s ease-out infinite; */
}

@keyframes frames{
    from{background-position-x:0px;}
    to{background-position-x:-8500px;}
}

@keyframes rotate--axis--center{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

@keyframes scale{
    0%{transform: scale(0.7)}
    100%{transform: scale(1)}
}